{% extends 'Admin/Admin_Base_Login.html' %}





{% block body %}


   <div>
 <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px; margin-left: 500px; margin-top: 100px;">
   <h3 class="text-center text-primary mb-4">User Login</h3>
   {% if messages %}
     {% for message in messages %}
       <div class="alert alert-{{ message.tags|default:'info' }} py-2" role="alert">{{ message }}</div>
     {% endfor %}
   {% endif %}
    <form method="post">
          {% csrf_token %}
           <div class="mb-3"> 
        <label  class="form-label">OTP</label>
         <input  name="otp" class="form-control" id="passwordInput" placeholder="Enter your OTP"> 
    </div>
          <div style="display:flex;">
            <button type="submit" name="verify" class="btn btn-primary w-100" >Verify</button>  
           </div>
          </form>
  </div> 



  </div>

    


{% endblock %}
